.Buttons {
  display: FLEX;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  

  button {
    padding: 0.5rem 1rem;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 118, 248);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 0.75rem;
    transition: background-color 0.2s ease;
    
    &:hover {
      background-color: rgb(52, 144, 250);
    }
    
  }
  span{
    cursor: pointer;
    color: crimson;
    text-decoration: underline;
    &:hover{
      color: red;
    }
  }
}
